body{
   font-size: small;
   font-family:Verdana, Helvetica, Arial, sans-serif;
}

h1,h2
{
    color:#007e7e;
}

h1
{
    font-size:150%;
}

h2
{
    font-size:130%;
}

p.guarantee{
border: 3px white dashed ;
background-color: #a7cece;
color: #444444;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
line-height: 1.9em;
background-image: url(images/star.gif);
background-repeat: no-repeat;
background-position: top left;
padding: 25px;
padding-left: 80px;
margin-left: 30px;
}
